<div class="row">
  <div class="col-sm-6">
    <%= form_with(model: book) do |f| %>
      <div class="mb-3">
        <label class="col-sm-2 col-form-label">本名</label>
        <%= f.text_area :book_name, class: 'form-control', :placeholder => "本の名前を入力してください" %>
      </div>
      <div class="mb-3">
        <label class="col-sm-2 col-form-label">著者名</label>
        <%= f.text_area :author_name, class: 'form-control', :placeholder => "著者名を入力してください"%>
      </div>
      <div class="mb-3 w-15">
        <%= f.select :status, ["読んだ本", "今読んでいる本", "これから読みたい本"] %>
      </div> 
      
      <div class="mb-3">
        <%= f.submit '登録', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
