<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <% if current_user == @user %>
      <%= link_to "編集", edit_user_path(@user) %>
    <% end %>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= have_been_read_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(have_been_read_user_path(@user)) %>">読んだ本</a></li>
      <li class="nav-item"><a href="<%= now_reading_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(now_reading_user_path(@user)) %>">今読んでいる本</a></li>
      <li class="nav-item"><a href="<%= wants_to_read_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(wants_to_read_user_path(@user)) %>">これから読みたい本</a></li>
    </ul>
    <table class="table table-striped">
      <tr>
        <th>本名</th>
        <th>著者名</th>
      </tr>
        
      <% @books.each do |book| %>
        <tr>
          <td>
            <% if current_user == @user %>
              <%= link_to "削除", "/users/#{@user.id}/books/#{book.id}", method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
            <%= book.book_name %>
          </td>
          <td><%= book.author_name %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <% if current_user == @user %>
    <%= render "form_for_books", book: @book %>
  <% end %>
</div>